{% extends './base.html' %}

{% block title %}Home{% endblock %}
    

{% block content %} 
    <div class="container py-8 mx-auto">
        <div class="flex justify-between items-center my-4">
            <div class="w-1/2">
                <input type="text" placeholder="Search..." class="w-full border border-gray-300 rounded px-4 py-2">
            </div>
            <div>
                <button class="bg-blue-500 text-white px-4 py-2 rounded">Add Todo</button>
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-3 gap-4">

            {% comment %} TODO CARD {% endcomment %}
            <div class="bg-white border border-gray-300 rounded p-4">
                <h2 class=" my-4 text-xl font-bold">Todo title</h2>
                <p class="my-4 text-gray-500"><b>Description</b>: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam possimus omnis quo consequatur suscipit unde sit quidem molestiae vel, porro, iste necessitatibus architecto atque, in dolores enim doloribus est magni.</p>
                <p class="text-gray-500"><b>Date Created</b>: 2 Days ago <span>by Mouctar</span></p>

                <div class="mt-4">
                    <a href="#" class="bg-blue-500 text-white px-4 py-2 rounded">Edit</a>
                    <a href="#" class="bg-red-500 text-white px-4 py-2 rounded ml-2">Delete</a>
                </div>
            </div>

            <div class="bg-white border border-gray-300 rounded p-4">
                <h2 class=" my-4 text-xl font-bold">Todo title</h2>
                <p class="my-4 text-gray-500"><b>Description</b>: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam possimus omnis quo consequatur suscipit unde sit quidem molestiae vel, porro, iste necessitatibus architecto atque, in dolores enim doloribus est magni.</p>
                <p class="text-gray-500"><b>Date Created</b>: 2 Days ago <span>by Mouctar</span></p>

                <div class="mt-4">
                    <a href="#" class="bg-blue-500 text-white px-4 py-2 rounded">Edit</a>
                    <a href="#" class="bg-red-500 text-white px-4 py-2 rounded ml-2">Delete</a>
                </div>
            </div>

            <div class="bg-white border border-gray-300 rounded p-4">
                <h2 class=" my-4 text-xl font-bold">Todo title</h2>
                <p class="my-4 text-gray-500"><b>Description</b>: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam possimus omnis quo consequatur suscipit unde sit quidem molestiae vel, porro, iste necessitatibus architecto atque, in dolores enim doloribus est magni.</p>
                <p class="text-gray-500"><b>Date Created</b>: 2 Days ago <span>by Mouctar</span></p>

                <div class="mt-4">
                    <a href="#" class="bg-blue-500 text-white px-4 py-2 rounded">Edit</a>
                    <a href="#" class="bg-red-500 text-white px-4 py-2 rounded ml-2">Delete</a>
                </div>
            </div>

            <div class="bg-white border border-gray-300 rounded p-4">
                <h2 class=" my-4 text-xl font-bold">Todo title</h2>
                <p class="my-4 text-gray-500"><b>Description</b>: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam possimus omnis quo consequatur suscipit unde sit quidem molestiae vel, porro, iste necessitatibus architecto atque, in dolores enim doloribus est magni.</p>
                <p class="text-gray-500"><b>Date Created</b>: 2 Days ago <span>by Mouctar</span></p>

                <div class="mt-4">
                    <a href="#" class="bg-blue-500 text-white px-4 py-2 rounded">Edit</a>
                    <a href="#" class="bg-red-500 text-white px-4 py-2 rounded ml-2">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
    